.btn-radius {
  font-family: montserrat-bold, Tahoma, sans-serif;
  font-size: var(--normal);
  color: var(--white);
  padding: 10px 36px;
  border-radius: 37px;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-darker);
}

.btn-secondary {
  background-color: transparent;
  color: var(--primary-color-darker);
  outline: 1px solid var(--primary-color-darker);
}

.btn-secondary:hover {
  color: var(--white);
  background-color: var(--primary-color-darker);
  outline: none;
}

@media screen and (min-width: 1440px) {
  .btn-secondary {
    background-color: transparent;
    color: var(--white);
    outline: 1px solid var(--white);
  }
}
