.btn-rectangle {
  font-family: montserrat-bold, Tahoma, sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
  padding: 0.9375rem 2.5rem;
  border-radius: 0.3125rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-rectangle:hover {
  background-color: var(--primary-color-darker);
}

@media screen and (min-width: 1440px) {
  .btn-menu {
    padding: 0.9375rem 1.5625rem;
  }
}
