.pricing-card {
  width: 327px;
  font-family: montserrat-bold, Tahoma, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  background-color: var(--white);
}

.pricing-card .card-status {
  display: none;
}

.pricing-card-status .card-status {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -30px;
  right: 15px;
  display: block; 
  text-align: center;
  border-radius: 52px;
  background-color: var(--alert-color);
}

.pricing-card-status .card-status p {
  padding-top: 35px;
}

.pricing-card .card-title, 
.pricing-card-status .card-status {
  font-size: var(--small);
}

.pricing-card .card-title {
  padding-top: 53px;
  color: var(--dark-color);
}

.pricing-card .card-name {
  color: var(--text-color);
  padding: 7px 70px 0 70px;
  line-height: 24px;
  text-align: center;
}

.pricing-card .card-price {
  color: var(--primary-color);
  display: flex;
}

.pricing-card .card-price .price {
  padding-top: 16px;
  font-size: var(--biggest);
}

.pricing-card .card-price .unit-and-month {
  padding: 5px 0 0 10px;
}

.pricing-card .card-price .unit-and-month .unit {
  font-size: var(--smallest);
}

.pricing-card .card-price .unit-and-month .month {
  font-family: montserrat-semiBold, Tahoma, sans-serif;
  font-size: var(--normal);
}

.pricing-card .card-list {
  padding-top: 5px;
}

.pricing-card .card-list .list {
  color: var(--dark-color);
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pricing-card .card-list .list .checked, .unchecked {
  font-size: var(--normal);
  line-height: 24px;
  display: flex;
  align-items: center;
}

.pricing-card .card-list .list .checked::before, .unchecked::before {
  width: 35px;
  height: 32px;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-bottom;
}

.pricing-card .card-list .list .checked::before {
  background: url('../../assets/icons/icon-tick.png') -63px -10px;
}

.pricing-card .card-list .list .unchecked::before {
  background: url('../../assets/icons/icon-tick.png') -10px -10px;
}

.pricing-card .card-btn {
  padding-bottom: 50px;
}
