.pricing-card {
  padding: 55px 38px 45px;
  font-family: var(--font-bold), var(--font-default);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  border: 2px solid var(--primary-color-lighter);
  background-color: var(--white);
}

.pricing-card .card-status {
  display: none;
}

.pricing-card-status .card-status {
  width: 90px;
  height: 90px;
  text-align: center;
  position: absolute;
  top: -30px;
  right: 15px;
  display: block; 
  border-radius: 52px;
  background-color: var(--alert-color);
}

.pricing-card-status .card-status .status {
  line-height: 90px;
}

.pricing-card .card-title, 
.pricing-card-status .card-status {
  font-size: var(--small);
}

.pricing-card .card-title {
  order: 1;
}


.pricing-card .card-description {
  order: 2;
}

.pricing-card .card-title {
  color: var(--dark-color);
}

.pricing-card .card-description {
  padding: 0 25px;
  color: var(--text-color);
  line-height: 24px;
  text-align: center;
}

.pricing-card .card-price {
  color: var(--primary-color);
  display: flex;
  order: 3;
}

.pricing-card .card-price .price {
  padding: 22px 0 10px;
  font-size: var(--biggest);
}

.unit-and-month {
  padding: 14px 0 0 10px;
}

.unit-and-month .unit {
  font-size: var(--smallest);
}

.unit-and-month .month {
  color: var(--primary-color-lighter);
  font-family: var(--font-semiBold), var(--font-default);
  font-size: var(--normal);
}

.pricing-card .card-list {
  padding-top: 5px;
  order: 4;
}

.pricing-card .card-list .list-criteria {
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checked,
.unchecked {
  font-size: var(--normal);
  line-height: 28px;
  display: flex;
  align-items: flex-start;
}

.checked::before,
.unchecked::before {
  width: 35px;
  height: 32px;
  content: "";
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.checked::before,
.unchecked::before {
  background: url('../../assets/icons/icon-tick.png');
}

.checked::before {
  background-position: -63px -10px;
}

.unchecked::before {
  background-position: -10px -10px;
}

.pricing-card .card-btn {
  order: 5;
}

.pricing-card .card-btn .btn {
  padding: 15px 80px;
}

@media screen and (min-width: 1440px) {
  .pricing-card {
    padding: 54px 38px 40px;
  }

  .pricing-card .card-price {
    width: 120px;
    justify-content: center;
    position: relative;
  }
  
  .unit-and-month {
    padding: 0;
  }

  .unit-and-month .unit {
    padding: 25px 0;
    font-size: var(--biggest);
  }

  .unit-and-month .month {
    font-family: var(--font-bold), var(--font-default);
    font-size: var(--smallest);
    position: absolute;
    left: 12px;
    top: 65px;
  }

  .pricing-card .card-list {
    padding-top: 0;
    order: 4;
  }

  .pricing-card .card-btn {
    order: 3;
    padding: 20px 0 0 0;
  } 
}
