.pricing-card {
  width: 327px;
  font-family: montserrat-bold, Tahoma, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  background-color: var(--white);
}

.pricing-card .card-status {
  display: none;
}

.pricing-card-status .card-status {
  position: absolute;
  top: -30px;
  right: 15px;
  display: block;
}

.pricing-card-status .card-status {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 52px;
  background-color: var(--alert-color);
}

.pricing-card .card-title, 
.pricing-card-status .card-status {
  font-size: var(--small);
}

.pricing-card .card-title {
  padding-top: 53px;
  color: var(--dark-color);
}

.pricing-card .card-name {
  color: var(--text-color);
  padding: 7px 70px 0 70px;
  line-height: 24px;
  text-align: center;
}

.pricing-card .card-price {
  color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: repeat(2, 28px);
}

.pricing-card .card-price .price {
  padding-top: 20px;
  font-size: var(--biggest);
  text-align: right;
  grid-column: 1;
  grid-row: 1/3;
}

.pricing-card .card-price .unit {
  padding-top: 5px;
  font-size: var(--smallest);
  grid-column: 3;
  grid-row: 1;
}

.pricing-card .card-price .month {
  padding-top: 3px;
  font-family: montserrat-semiBold, Tahoma, sans-serif;
  font-size: var(--normal);
  grid-column: 3;
  grid-row: 2;
}

.pricing-card .card-list .list {
  color: var(--dark-color);
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pricing-card .card-list .list .checked, .unchecked {
  font-size: var(--normal);
  line-height: 24px;
  display: flex;
  align-items: center;
}

.pricing-card .card-list .list .checked::before, .unchecked::before {
  width: 35px;
  height: 32px;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-bottom;
}

.pricing-card .card-list .list .checked::before {
  background: url('../../assets/icons/icon-tick.png') -63px -10px;
}

.pricing-card .card-list .list .unchecked::before {
  background: url('../../assets/icons/icon-tick.png') -10px -10px;
}

.pricing-card .card-btn {
  padding-bottom: 50px;
}
