.section-title {
  font-family: var(--bold), Tahoma, sans-serif;
  font-size: var(--biggest);
  line-height: 57px;
}

.section-title-dark, .section-title-dark-small {
  color: var(--dark-color);
}

.section-title-dark-small {
  line-height: 24px;
  font-size: var(--smallest);
}
