:root {
  /* Color */
  --primary-color:#23a6f0;
  --primary-color-darker: #119dee;
  --warm-color:#f3cd03;
  --text-color: #737373;
  --text-fade-color:#bdbdbd;
  --light-background-color:#8ec2f2;
  --dark-background-color:#252b42;
  --white: #ffffff; 
  
  /* Font-large */
  --biggest: 40px; /*40*/
  --big: 30px; /*30*/
  --small: 24px; /*24*/
  --smaller: 20px; /*20*/
  --smallest: 16px; /*16*/
  --normal: 14px; /*14*/
}
