:root {
  /* Color */
  --primary-color: #23a6f0;
  --primary-color-darker: #119dee;
  --warm-color: #f3cd03;
  --alert-color: #e77c40;
  --dark-color: #252b42;
  --dark-color-lighter: #2e3552;
  --white: #ffffff; 
  
  /* Text-color */
  --text-color: #737373;
  --text-fade-color: #bdbdbd;

  /* Background-color */
  --light-background-color: #8ec2f2;

  /* Font-size */
  --biggest: 40px;
  --big: 30px; 
  --small: 24px;
  --smaller: 20px; 
  --smallest: 16px;
  --normal: 14px;
}
