:root {
  /* Color */
  --primary-color: #23A6F0;
  --primary-color-darker: #119dee;
  --warm-color:#F3CD03;
  --text-color: #737373;
  --text-fade-color: #BDBDBD;
  --light-background-color: #8EC2F2;
  --dark-background-color: #252B42;
  --white: #ffffff; 
  
  /* Font-large */
  --biggest: 40px; /*40*/
  --big: 30px; /*30*/
  --small: 24px; /*24*/
  --smaller: 20px; /*20*/
  --smallest: 16px; /*16*/
  --normal: 14px; /*14*/
}
