@font-face {
  font-family: "montserrat-regular"; /*400*/
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "montserrat-medium"; /*500*/
  src: url("../../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "montserrat-semiBold"; /*600*/
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "montserrat-bold"; /*700*/
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}

body {
  font-family: montserrat-medium, Tahoma, sans-serif;
  color: var(--white);
  line-height: 1.25rem;
}

:root {
  font-size: 1rem;
}
