.our-capabilities .container {
  display: flex;
}

.capabilities-content {
  width: 548px;
  padding-right: 10px;
}

.capabilities-content .section-name {
  padding-top: 15px;
  text-align: left;
}

.capabilities-body .highlights {
  padding: 18px 0 20px 0;
}

.capabilities-body-card {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.capabilities-body-card > .card-item {
  padding: 12px 15px 15px 12px;
  text-align: center;
}

.capabilities-body-card > .card-item:nth-child(4) span {
  padding: 0 5px;
}

.capabilities-body-card > .card-item p {  
  color: var(--primary-color);
  font-family: poppins-semi, Arial, Helvetica;
  font-size: var(--almost-small);
  font-weight: var(--semibold);
}

.capabilities-body-card > .card-item span { 
  color: var(--dark-color);
  font-weight: var(--thin);
  font-size: var(--smaller);
  color: var(--dark-color);
  padding-top: 5px;
}

.img-our-capabilities {
  width: 612px;
  height: 375px;
}
