.our-capabilities {
  margin-top: 100px;
}

.our-capabilities .container {
  display: flex;
}

.capabilities-content {
  margin-right: 50px;
}

.capabilities-content .section-title {
  text-align: left;
}

.capabilities-body-card {
  display: flex;
  justify-content: space-between;
}

.capabilities-body-card > .card-item {
  padding: 0;
  width: 120px;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capabilities-body-card > .card-item p {  
  color: var(--primary-color);
  font-family: poppins-semi;
  font-size: var(--almost-small);
}

.capabilities-body-card > .card-item span { 
  margin: 5px;
  font-size: var(--smaller);
  color: var(--dark-color);
  text-align: center;
}

.img-our-capabilities {
  display: flex;
  align-items: flex-end;
}
