.our-services .section-name {
  padding: 10px 0 0 8px;
}

.our-services-content {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 25px;
}

.our-services-card {
  align-items: center;
}

.our-services-card .card-header {
  height: 80px;
  padding: 31px 0 0 7px;
  display: flex;
  gap: 165px;
}

.our-services-card .card-header .frame-img {
  width: 80px;
}

.our-services-card .card-header p {
  color: var(--grey-fade-color);
  font-size: var(--huge);
  font-family: poppins-semi, Arial, Helvetica;
  font-weight: var(--semibold);
}

.our-services-card:first-child .card-header p {
  margin-left: 15px;
}

.our-services-card .card-body {
  padding: 20px 10px 25px 25px;
}

.our-services-card .card-body .card-title {
  font-size: var(--almost-small);
}

.our-services-card .card-body .card-details {
  padding-top: 3px;
  padding-bottom: 16px;
}

.our-services-card .card-body .card-description {
  padding-right: 5px;
}
