.send-mail-wrapper {
  background-color: var(--primary-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.send-mail-title {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.send-mail-title .section-title {
  color: var(--white);
  font-weight: var(--regular);
  padding-top: 15px;
}

.send-mail-title .section-title::after {
  background-color:var(--white);
}

.send-mail-title .section-name {
  padding-top: 10px;
  color: var(--white);
}

.send-mail-button {
  padding: 60px 40px 60px 0;
  position: relative;
  align-items: center;
}

.send-mail-button .btn {
  position: absolute;
  right: 45px;
  top: 65px;
  padding: 15px 38px 15px 38px;
  border: none;
  color: white;
}

.search-input {
  width: 610px;
  height: 70px;
  font-family: poppins, Tahoma, sans-serif;
  font-weight: bold;
  font-size: var(--normal);
  padding-left: 30px;
  border-radius: 5px;
  border: none;
}

.search-input:focus {
  outline: 0;
}
