.contact-wrapper {
  padding: 115px 0 118px;
  background-image: url(../../assets/images/background-family-contact.jpg);
  background-repeat: no-repeat;
  background-position: 54%;
  background-size: 500%;
}

.contact-wrapper .contact-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.contact-title {
  padding-left: 15px;
}

.contact-title .section-title:nth-child(2) {
  padding-left: 10px;
}

.select-options,
.form-item,
.select-input {
  border: 2px solid var(--text-fade-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item,
.select-input {
  width: 250px;
  height: 46px;
  font-size: var(--normal);
  font-family: montserrat-semiBold, Tahoma, sans-serif;
  padding: 0 15px;
  border-radius: 5px;
  outline: none;
}

.placeholder,
.select-dropdown,
.form-item::placeholder {
  color: var(--text-fade-color);
}

.form-textarea {
  height: 120px;
  padding-top: 16px;
  margin-bottom: 20px;
}

.contact-form .btn {
  padding: 15px 70px;
}

@media screen and (min-width: 1440px) {
  .contact-wrapper .contact-content {
    align-items: flex-start;
  }
  
  .contact-wrapper {
    padding: 90px 60px 85px;
    background-position: 0 0;
    background-size: 100%;
  }

  .contact-title,
  .contact-title .section-title:nth-child(2) {
    padding-left: 0;
  }

  .form-group {
    flex-direction: row;
    gap: 20px;
  }

  .contact-form .form-textarea {
    width: 100%;
  }

  .form-btn .btn {
    padding: 15px 40px;
  }
}
