.footer-menu,
.footer-social {
  background-color: var(--dark-color);
}

.footer-wrapper .footer-menu {
  padding: 62px 88px;
}

.footer-menu .footer-menu-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-list:nth-child(5) .list-item:nth-child(2):before {
  background-position: -10px -61px;
}

.footer-list:nth-child(5) .list-item:nth-child(3):before {
  background-position: -10px -10px;
}

.footer-list:nth-child(5) .list-item:nth-child(4)::before {
  background-position: -98px -10px;
}

.footer-list p:first-child {
  font-size: var(--smallest);
  font-family: montserrat-bold, Tahoma, sans-serif;
  padding-bottom: 20px;
}

.footer-social {
  padding: 0 90px 55px;
}

.footer-social .footer-social-content .author {
  padding: 0 90px 55px 0;
  font-size: var(--normal);
  font-family: montserrat-semiBold, Tahoma, sans-serif;
  padding-bottom: 50px;
}

.list-icons-social {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 1440px) {
  .footer-wrapper .footer-menu {
    padding: 52px 88px 45px;
  }

  .footer-menu .footer-menu-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-social {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
  }

  .footer-social .footer-social-content {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
  }

  .footer-social .footer-social-content .author {
    color: var(--text-color);
    padding-bottom: 0;
  }

  .list-icons-social {
    padding-right: 40px;
  }
}
