.footer-menu,
.footer-social {
  background-color: var(--dark-color);
}

.footer-menu .container {
  padding: 62px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-menu .container,
.footer-social .container {
  width: 245px;
}

.footer-list:nth-child(5) .list-item:nth-child(2):before {
  background-position: -10px -61px;
}

.footer-list:nth-child(5) .list-item:nth-child(3):before {
  background-position: -10px -10px;
}

.footer-list:nth-child(5) .list-item:nth-child(4)::before {
  background-position: -98px -10px;
}

.footer-list p:first-child {
  font-size: var(--smallest);
  font-family: montserrat-bold, Tahoma, sans-serif;
  padding-bottom: 20px;
}

.footer-social {
  padding-bottom: 55px;
}

.footer-social .container p {
  padding: 0 20px 54px 0;
  font-size: var(--normal);
  font-family: montserrat-semiBold, Tahoma, sans-serif;
  padding-bottom: 50px;
}

.list-icons-social {
  display: flex;
  gap: 20px;
}

.list-icons-social a .icon-social {
  width: 25px;
  height: 26px;
  display: block;
  background: url('../../assets/icons/icon-footer-social.png');
}

.list-icons-social a .facebook {
  background-position: -54px -10px;
}

.list-icons-social a .instagram {
  background-position: -10px -10px;
}

.list-icons-social a .twitter {
  background-position: -98px -10px;
}

.list-icons-social a .youtube {
  margin-top: 2px;
  background-position: -10px -97px;
}

@media screen and (min-width: 1440px) {
  .footer-menu .container,
  .footer-social .container {
    width: 1050px;
  }

  .footer-menu .container {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-social {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
  }

  .footer-social .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
  }

  .footer-social .container p {
    color: var(--text-color);
    padding-bottom: 0;
  }

  .list-icons-social a .facebook {
    background-position: -10px -54px;
  }
  
  .list-icons-social a .instagram {
    background-position: -54px -54px;
  }
  
  .list-icons-social a .twitter {
    margin-top: 2px;
    background-position: -54px -97px;
  }
  
  .list-icons-social a .youtube {
    padding-top: 10px;
    display: none;
  }
}
