.header-wrapper {
  background-color: var(--dark-color);
}

.header-nav {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.header-logo {
  width: 145px;
  height: 32px;
}

.header-logo {
  display: block;
}

.icon {
  cursor: pointer;
  width: 24px;
  height: 28px;
  background: url('../../assets/icons/icons-menu.png');
}

.icon-search {
  background-position: -10px -10px;
}

.icon-cart {
  background-position: -54px -10px;
}

.icon-bars {
  margin: 5px 0 0 5px;
  padding: 0;
  background-position: -54px -54px;
}

.icon-bars:hover {
  background-position: -10px -54px;
}

.icon-bars label {
  padding: 20px;
  cursor: pointer;
}

.icons-nav {
  display: flex;
  gap: 25px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-mobile {
  height: 0;
  transition: height 1s;
}

.text-pc,
.header-pc,
.bars-checkbox {
  display: none;
}

.bars-checkbox:checked ~ .nav-mobile {
  height: 415px;
}

.nav-mobile {
  width: 100%;
}

.nav-mobile .nav {
  padding-top: 35px;
  padding-bottom: 100px;
  text-align: center;
}

.nav-mobile .nav .nav-item {
  cursor: pointer;
  padding: 25px 0;
}

.nav-mobile .nav .nav-item:hover {
  background-color: var(--dark-color-lighter);
}

.nav .nav-item .nav-link{
  font-family: montserrat-semiBold, Tahoma, sans-serif;
  font-size: var(--big);
  color: var(--white);
  text-decoration: none;
}

.header-content {
  padding: 80px 45px 65px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../../assets/images/background-family-hello.jpg);
  background-position: -58% 20%;
  background-size: 600%;
  z-index: 1;
}

.header-content .container {
  z-index: 3;
}

.filter-overlay {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 2;
}

.text-mobile {
  display: block;
}

.header-content .title-biggest {
  font-family: montserrat-bold, Tahoma, sans-serif;
  font-size: var(--biggest);
  line-height: 58px;
  color: var(--white);
}

.header-content .header-text {
  padding: 38px 25px 16px;
  font-family: montserrat-medium, Tahoma, sans-serif;
  font-size: var(--smaller);
  line-height: 30px;
}

.jumbotron-btn .btn {
  margin-top: 30px;
}

@media screen and (min-width: 1440px) {
  .header-wrapper {
    background-image: url(../../assets/images/background-family-hello.jpg);
    background-size: cover;
  }

  .header-nav {
    width: 1050px;
    margin: auto;
    align-items: center;
    padding: 8px 195px 0 195px;
  }

  .header-logo {
    padding-top: 5px;
  }

  .icons-nav,
  .nav-list,
  .text-mobile,
  .filter-overlay {
    display: none;
  }

  .header-pc,
  .text-pc {
    display: block;
  }

  .nav-pc {
    display: flex;
    gap: 230px;
  }

  .nav-pc .nav-collapse:first-child {
    gap: 20px;
  }

  .nav-pc .nav-collapse {
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 45px;
  }

  .nav-collapse .nav-item .nav-link {
    font-family: montserrat-bold, Tahoma, sans-serif;
    font-size: var(--normal);
    text-decoration: none;
    color: var(--white);
  }

  
  .nav-collapse .nav-item .nav-link:hover {
    color: var(--primary-color);
  }

  .header-content {
    padding: 50px 0 0;
    background-image: none;
    align-items: flex-start;
  }

  .header-content .container {
    padding: 95px 0 115px;
  }
  
  .header-content .header-text,
  .title-biggest {
    text-align: left;
  }

  .header-content .title-biggest {
    width: 60%;
    font-size: var(--huge);
    line-height: 80px;
    padding-bottom: 25px;
    letter-spacing: 0.5px;
  }

  .header-content .header-text {
    width: 35%;
    padding: 32px 0 8px;
  }

  .jumbotron-btn {
    display: flex;
    gap: 10px;
  }
}
