.newsletter-wrapper .container {
  padding: 40px 85px;
}

.newsletter-wrapper .container p {
  color: var(--dark-color);
}

.newsletter-wrapper .container p:first-child {
  font-size: var(--small);
  line-height: 32px;
  font-family: montserrat-bold, Tahoma, sans-serif;
}

.newsletter-wrapper .container .section-text {
  padding: 10px 0 50px;
  width: 60%;
}

.newsletter-wrapper .container .btn {
  padding: 18px 40px;
}

@media screen and (min-width: 1440px) {
  .newsletter-wrapper .container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
  }

  .newsletter-wrapper .container .section-text {
    padding: 10px 0 0;
  }

  .newsletter-wrapper .container .btn {
    margin: 5px 0;
  }
}
