.newsletter-wrapper {
  padding: 40px 40px 40px 90px;
}

.newsletter-wrapper .newsletter-content {
  color: var(--dark-color);
}

.newsletter-wrapper .newsletter-content p:first-child {
  font-size: var(--small);
  line-height: 32px;
  font-family: montserrat-bold, Tahoma, sans-serif;
}

.newsletter-title {
  padding-right: 50px;
}

.newsletter-title .section-text {
  padding: 10px 0 50px;
  width: 60%;
}

.newsletter-wrapper .newsletter-content .btn {
  padding: 18px 40px;
}

@media screen and (min-width: 1440px) {
  .newsletter-wrapper {
    padding: 40px;
  }  

  .newsletter-wrapper .newsletter-content {
    display: flex;
    justify-content: space-between;
  }

  .newsletter-wrapper .newsletter-content .section-text {
    padding: 10px 0 0;
  }

  .newsletter-wrapper .newsletter-content .btn {
    margin: 5px 0;
  }
}
