@font-face {
  font-family: "openSans-regular"; /*font-weight: 400*/
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "PTsans-regular"; /*font-weight: 400*/
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

body {
  font-family: var(--font-regular), var(--font-default);
}

:root {
  font-size: 16px;
}
