/* bullet point styles */
ol {
  list-style-type: lower-roman;
}

/* images for bullets */
ul {
  list-style-image: url("images/star.png");
}

li {
  margin: 10px 0px 0px 0px;
}

/* positioning the marker */
.illuminations, .season {
  width: 150px;
}

.illuminations> li, .season > li {
  margin: 10px;
}

ul.illuminations {
  list-style-position: outside;
}

ul.season {
  list-style-position: inside;
}

/* list shorthand */
.list-ul {
  list-style: inside circle;
  width: 300px;
}

.list-ul>li {
  margin: 10px 0px 0px 0px;
}

/* table properties */
.table-body {
  font-family: Arial, Verdana, sans-serif;
  color: #111111;
}

.table-properties {
  width: 600px;
}

.table-properties > th, td {
  padding: 7px 10px 10px 10px;
}

.table-properties > th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
}

.table-properties > tr.even {
  background-color: #efefef;
}

.table-properties > tr:hover {
  background-color: #c3e6e5;
}

.money {
  text-align: right;
}

/* border on empty cells */
table.one > tr > td {
  border: 1px solid #0088dd;
  padding: 15px;}
table.one {
  empty-cells: show;
}
table.two {
  empty-cells: hide;
}

/* gaps between cells */
table.two > tr > td {
  background-color: #0088dd;
  padding: 15px;
  border: 2px solid #000000;
}

table.two {
  border-spacing: 5px 15px;
}

/* styling text inputs */
.styling {
  font-size: 120%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-bottom: 10px;
}

.styling:focus {
  background-color: #ffffff;
  border: 1px solid #b1e1e4;
}

input#email {
  background-image: url("images/email.png");
}

input#twitter {
  background-image: url("images/twitter.png");
}

input#web {
  background-image: url("images/web.png");
}

/* styling submit buttons */
input#submit {
  color: #444444;
  text-shadow: 0px 1px 1px #ffffff;
  border-bottom: 2px solid #b2b2b2;
  background-color: #b9e4e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
  background: -moz-linear-gradient(top, #beeae9, #a8cfce);
  background: -o-linear-gradient(top, #beeae9, #a8cfce);
  background: -ms-linear-gradient(top, #beeae9, #a8cfce);
}

input#submit:hover {
  color: #333333;
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
  background: -moz-linear-gradient(top, #a8cfce, #beeae9);
  background: -o-linear-gradient(top, #a8cfce, #beeae9);
  background: -ms-linear-gradient(top, #a8cfce, #beeae9);
}

/* styling fieldset & legends */
fieldset {
  width: max-content;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  text-align: right;
}

legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  text-align: left;
  text-transform: uppercase;
}

/* cursor styles */
.cursor{
  cursor: move;
}
