.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon.icon-xxxl {
  width: 74px;
  height: 56px;
}

.icon.icon-xxl {
  width: 72px;
  height: 72px;
}

.icon.icon-xl {
  width: 68px;
  height: 60px;
}

.icon.icon-lg {
  width: 37px;
  height: 52px;
}

.icon.icon-md {
  width: 32px;
  height: 32px;
}

.icon.icon-sm {
  width: 24px;
  height: 24px;
}

.icon.icon-xs {
  width: 18px;
  height: 18px;
}

.icon.icon-xxs {
  width: 12px;
  height: 10px;
}

.icon img {
  width: 100%;
  height: 100%;
}
