<div class="contact-wrapper">
  <div class="container">
    <div class="contact-title">
      <include 
        src="partials/components/section-title.html"
        locals='{
          "class": "section-title-dark-small",
          "title": "Contact Us"
        }'>
      </include>
  
      <include 
        src="partials/components/section-title.html"
        locals='{
          "class": "section-title-dark",
          "title": "Make an Appointment"
        }'>
      </include>
    </div>
  
    <div class="contact-content">
      <form action="" class="contact-form">
        <input type="text" class="form-item form-fullname" placeholder="Full Name">
        <input type="email" class="form-item form-email" placeholder="example@gmail.com">

        <div class="select-dropdown">
          <div class="select-input">
            <span>Please Select</span>
            <span class="arrow-select"></span>
          </div>
          <div class="select-options">
            <span>DaNang</span>
            <span>HoChiMinh</span>
            <span>HaNoi</span>
          </div>
        </div>

        <div class="select-dropdown">
          <div class="select-input">
            <span>4:00 Available</span>
            <span class="arrow-select"></span>
          </div>
          <div class="select-options">
            <span>5:00 PM</span>
            <span>6:00 PM</span>
            <span>7:00 PM</span>
          </div>
        </div>
        <textarea cols="30" rows="10" class="form-item form-textarea" placeholder="Message"></textarea>
        <include 
          src="partials/components/button.html"
          locals='{
            "class": "btn-rectangle btn-primary",
            "type": "submit",
            "text": "Book Appointment"
          }'>
        </include>
      </form>
    </div>
  </div>
</div>
