<div class="feature-wrapper container">
  <include 
    src="partials/components/feature-frame.html"
    locals='{
      "class": "frame-wallet",
      "title": "Peace of Mind",
      "description": "So it really behaves like neither. Now we have given up. "
    }'>
  </include>

  <include 
    src="partials/components/feature-frame.html"
    locals='{
      "class": "frame-users",
      "title": "Set For Life",
      "description": "They were used to create the machines that launched "
    }'>
  </include>

  <include 
    src="partials/components/feature-frame.html"
    locals='{
      "class": "frame-flag",
      "title": "100% Satisfaction",
      "description": "So it really behaves like neither. Now we have given up. "
    }'>
  </include>
</div>
