<footer class="footer-wrapper">
  <div class="footer-menu">
    <div class="footer-menu-content container">
      <include 
        src="partials/components/footer-menu.html"
        locals='{
          "title": "Company Info",
          "itemFirst": "About Us",
          "itemSecond": "Carrier",
          "itemThird": "We are hiring",
          "itemFourth": "Blog"
        }'>
      </include>
    
      <include 
        src="partials/components/footer-menu.html"
        locals='{
          "title": "Legal",
          "itemFirst": "About Us",
          "itemSecond": "Carrier",
          "itemThird": "We are hiring",
          "itemFourth": "Blog"
        }'>
      </include>

      <include 
        src="partials/components/footer-menu.html"
        locals='{
          "title": "Features",
          "itemFirst": "Business Marketing",
          "itemSecond": "User Analytic",
          "itemThird": "Live Chat",
          "itemFourth": "Unlimited Support"
        }'>
      </include>

      <include 
        src="partials/components/footer-menu.html"
        locals='{
          "title": "Resources",
          "itemFirst": "IOS & Android",
          "itemSecond": "Watch a Demo",
          "itemThird": "Customers",
          "itemFourth": "API"
        }'>
      </include>
      
      <address class="footer-list">
        <p>Get In Touch</p>
        <a href="tel:+(480)555-0103" class="list-item">(480) 555-0103</a>
        <p class="list-item">4517 Washington Ave.</p>
        <a href="mailto:debra.holt@example.com" class="list-item">debra.holt@example.com</a>
      </address>
    </div>
  </div>

  <div class="footer-social">
   <div class="footer-social-content container">
      <p class="author">Made With Love By Figmaland All Right Reserved</p>
      <div class="list-icons-social">
        <a href="javascript:void(0)">
          <include 
            src="partials/components/icon.html"
            locals='{
              "class": "icon-social icon-facebook"
            }'>
          </include>  
        </a>
        <a href="javascript:void(0)">
          <include 
            src="partials/components/icon.html"
            locals='{
              "class": "icon-social icon-instagram"
            }'>
          </include>  
        </a>
        <a href="javascript:void(0)">
          <include 
            src="partials/components/icon.html"
            locals='{
              "class": "icon-social icon-twitter"
            }'>
          </include>  
        </a>
        <a href="javascript:void(0)">
          <include 
            src="partials/components/icon.html"
            locals='{
              "class": "icon-social icon-youtube"
            }'>
          </include>  
        </a>
      </div>
   </div>
  </div>
</footer>
