<footer class="footer-wrapper">
  <div class="footer-menu">
    <div class="footer-list">
      <p>Company Info</p>
      <a href="javascript:void(0)">About Us</a>
      <a href="javascript:void(0)">Carrier</a>
      <a href="javascript:void(0)">We are hiring</a>
      <a href="javascript:void(0)">Blog</a>
    </div>
  
    <div class="footer-list">
      <p>Legal</p>
      <a href="javascript:void(0)">About Us</a>
      <a href="javascript:void(0)">Carrier</a>
      <a href="javascript:void(0)">We are hiring</a>
      <a href="javascript:void(0)">Blog</a>
    </div>
  
    <div class="footer-list">
      <p>Features</p>
      <a href="javascript:void(0)">Business Marketing</a>
      <a href="javascript:void(0)">User Analytic</a>
      <a href="javascript:void(0)">Live Chat</a>
      <a href="javascript:void(0)">Unlimited Support</a>
    </div>
  
    <div class="footer-list">
      <p>Resources</p>
      <a href="javascript:void(0)">IOS & Android</a>
      <a href="javascript:void(0)">Watch a Demo</a>
      <a href="javascript:void(0)">Customers</a>
      <a href="javascript:void(0)">API</a>
    </div>
  
    <address class="footer-list">
      <p>Get In Touch</p>
      <a href="tel:+(480)555-0103" class="list-item">(480) 555-0103</a>
      <p class="list-item">4517 Washington Ave.</p>
      <a href="mailto:debra.holt@example.com" class="list-item">debra.holt@example.com</a>
    </address>
  </div>

  <div class="footer-social">
    <p>Made With Love By Figmaland All Right Reserved</p>
    <div class="list-icons-social">
      <a href="javascript:void(0)"><span class="icon-social facebook"></span></a>
      <a href="javascript:void(0)"><span class="icon-social instagram"></span></a>
      <a href="javascript:void(0)"><span class="icon-social twitter"></span></a>
      <a href="javascript:void(0)"><span class="icon-social youtube"></span></a>
    </div>
  </div>
</footer>
