<section class="industry-wrapper" id="industry-section">
  <div class="industry-cover container">
    <div class="industry-title">
      <div class="text-pc">
        <include 
          src="partials/components/section-title.html"
          locals='{
            "class": "",
            "title": "Industry"
          }'>
        </include>
      </div>
  
      <div class="text-mobile">
        <include 
          src="partials/components/section-title.html"
          locals='{
            "class": "",
            "title": "We Are Optimists Who Love To Work Together"
          }'>
        </include>
      </div>
  
      <include 
        src="partials/components/section-text.html"
        locals='{
          "text": "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics "
        }'>
      </include>
    </div>
  
    <div class="industry-content">
      <include 
        src="partials/components/industry-card.html"
        locals='{
          "class": "forest",
          "name": "Tax Management",
          "title": "Life Tips From Top Ten Adventure Travelers"
        }'>
      </include>
  
      <include 
        src="partials/components/industry-card.html"
        locals='{
          "class": "sky-stars",
          "name": "Tax Management",
          "title": "Life Tips From Top Ten Adventure Travelers"
        }'>
      </include>
      
      <include 
        src="partials/components/industry-card.html"
        locals='{
          "class": "economy",
          "name": "Tax Management",
          "title": "Life Tips From Top Ten Adventure Travelers"
        }'>
      </include>
  
      <include 
        src="partials/components/industry-card.html"
        locals='{
          "class": "chart",
          "name": "Tax Management",
          "title": "Life Tips From Top Ten Adventure Travelers"
        }'>
      </include>
    </div>
  </div>
</section>
