<section class="pricing-wrapper" id="pricing-section">
  <div class="pricing-cover container">
    <hgroup class="pricing-title">
      <include 
        src="partials/components/section-title.html"
        locals='{
          "class": "",
          "title": "Pricing"
        }'>
      </include>
  
      <include 
        src="partials/components/section-text.html"
        locals='{
          "text": "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics"
        }'>
      </include>
    </hgroup>
  
    <div class="pricing-content">
      <include 
        src="partials/components/pricing-card.html"
        locals='{
          "class": "",
          "title": "FREE",
          "price": "0"
        }'>
      </include>
  
      <include 
        src="partials/components/pricing-card.html"
        locals='{
          "class": "pricing-card-status",
          "title": "SILVER",
          "price": "9.99"
        }'>
      </include>
  
      <include 
        src="partials/components/pricing-card.html"
        locals='{
          "class": "",
          "title": "GOLD",
          "price": "19.99"
        }'>
      </include>
    </div>
  </div>
</section>
