<section class="testimonial-wrapper">
  <div class="testimonial-cover container">
    <div class="testimonial-title">
      <include 
        src="partials/components/title.html"
        locals='{
          "class": "section-title text-mobile",
          "text": "What Clients Say"
        }'>
      </include>
  
      <include 
        src="partials/components/title.html"
        locals='{
          "class": "section-title text-pc",
          "text": "Industry"
        }'>
      </include>
  
      <include 
        src="partials/components/title.html"
        locals='{
          "class": "section-text",
          "text": "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics"
        }'>
      </include>
    </div>
  
    <div class="testimonial-content">
      <include 
        src="partials/components/testimonial-card.html"
        locals='{
          "class": "",
          "name": "Regina Miles",
          "job": "Designer",
          "description": "This proved to be impossible using the traditional concepts of space and time. Einstein developed a new view of time first and then space. This proved to be impossible using the traditional concepts of space and time. Einstein developed a new view of time first and then space."
        }'>
      </include>
  
      <include 
        src="partials/components/testimonial-card.html"
        locals='{
          "class": "avatar-man",
          "name": "Regina Miles",
          "job": "Designer",
          "description": "This proved to be impossible using the traditional concepts of space and time. Einstein developed a new view of time first and then space. This proved to be impossible using the traditional concepts of space and time. Einstein developed a new view of time first and then space."
        }'>
      </include>
    </div>
  </div>
</section>
