.note {
  cursor: pointer;
  width: 220px;
  max-height: fit-content;
  padding: 10px;
  border: 1px solid var(--fade-color);
  border-radius: 8px;
  position: relative;
}

.note .icon-check {
  cursor: pointer;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -10px;
  left: -12px;
}

.note:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.note:hover .icon-check,
.note-selected .icon-check {
  background-color: var(--light-color);
  border-radius: 45px;
  animation: fadeInOut linear 0.2s;
  background-image: url("../../assets/icons/icon-checked.svg");
}

.note:hover .note-utilities {
  visibility: visible;
  animation: fadeIn linear 0.2s;
}

.note-selected {
  border: 2px solid var(--text-color);
}

.note-content {
  padding: 10px;
  color: var(--text-color);
  word-break: break-word;
}

.note-content .note-title,
.note-content .note-description {
  line-height: 25px;
  max-height: 180px;
  overflow: hidden;
}

.note-content .note-description {
  font-size: 18px;
  font-family: var(--font-light), var(--font-default);
}

.note-content .note-empty {
  font-size: 22px;
  color: var(--text-note-color);
  font-family: var(--font-light), var(--font-default);
}

.note-btn {
  display: flex;
  justify-content: end;
}

.note .note-utilities {
  visibility: hidden;
}

.selected {
  border: 2px solid var(--dark-color);
}
