.btn {
  color: var(--dark-color);
  font-size: var(--small);
  font-family: poppins-semi;
  background-color: var(--light-color);
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  border-width: 1px;
}

.btn:hover {
  background-color: var(--normal-color);
  cursor: pointer;
  color: var(--white);
}

.btn-warning{
  background-color: var(--normal-color);
  color: var(--white);
  border: none;
}

.btn-warning:hover {
  background-color: var(--normal-color-5);
  cursor: pointer;
  color: var(--white);
}