nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  line-height: 50px;
  height: 50px;
}

.nav-item a {
  text-decoration: none;
  font-size: var(--small);
  font-weight: var(--bold-900);
  color: var(--dark-color);
  margin-right: 30px;
}

.nav-item a:hover {
  color: var(--normal-color);
}